/**
 * WDD4 - Fall/2018                                        
 * PHP Capstone Project         
 * Instructor: Steve George                                               
 * CSS Style for Desktop                    
 * Student: Alessandra Diniz            
 * Date: May/11/2019                                                                             
 */
 
/* CSS Style for Body and HTML */

html, body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0; 
    padding-bottom:100px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin:0;
    width: 100%;         
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #fff;
}

/* CSS Style for Header */
header{
    height: 80px;
    position: fixed;
    width: 960px;                
    top:0;
    margin: 0 auto;
    z-index:1001; 
}

#background_header{
    width: 100%;
    height: 80px;
    position: fixed;
    margin: 0 auto;
    background-color: #11151d; 
    z-index:0;
    top:0;
    left:0;
}

.login_logout{
    color: #FFFFFF;
}

header #logo{
    position: fixed;
    top: 20px;
}

#welcome{
    color: #FFFFFF;
    top: 7px;
    right: 10px;
    z-index: 1000;
    position: absolute;
}

div#wrapper{
    padding-top: 0px;
    padding-bottom: 40px;
    width: 960px;
    position: absolute;
    display:block;
    top: 100px;
    margin-bottom: 100px;
}                

/* CSS Style for Logo */
#logo_image{
    position: absolute;
    background-image: url(../images/logo_bds.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 230px;
    height: 48px;
    float: left;
} 

 /* CSS Style for Main and Headings */
main{
    padding: 20px 0px 50px 0px;        
    display: block;
    min-height: 500px;
    margin:0 auto;
}

main p{
    line-height: 1.5em;
}

h1, h2{
    color: #0d0c48;
    margin: 0;
    padding-top: 0;
}
    
#page-container {
    width: 100%;
    min-height: 100vh;
    margin: 60px 0 100px 0;
    padding: 0; 
    top:0;
    left:0;         
}

/* CSS Style for Site Navigation / Menu Itens */
#menubutton{
    float:right;
    right:0;
    margin-right: 7px;
    margin-top: 40px;
}

#menubutton span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #ed7b7b;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    -moz-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    -o-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    transition: -moz-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    transition: -ms-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    transition: -o-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;                                        
}

#menubutton span:first-child
{
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

#menubutton span:nth-last-child(2)
{
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;                
    transform-origin: 0% 100%;
}

body#home nav ul#navlist li a.nav_one, 
body#about nav ul#navlist li a.nav_two, 
body#classes nav ul#navlist li a.nav_three, 
body#schedules nav ul#navlist li a.nav_four,            
body#instructors nav ul#navlist li a.nav_five,
body#fees nav ul#navlist li a.nav_six,
body#contact nav ul#navlist li a.nav_seven,
body#payments nav ul#navlist li a.nav_thirteen,
body#register div#welcome a.nav_eight,
body#login div#welcome a.nav_nine,
body#profile div#welcome a.nav_ten,
body#logout div#welcome a.nav_eleven,
body.admin ul#navlist li a.nav_twelve,
body#administrator ul#navadminlist li a.adm_one,
body#schedules-admin  ul#navadminlist li a.adm_two,
body#classes-admin ul#navadminlist li a.adm_six,
body#enrolls-admin ul#navadminlist li a.adm_three,
body#payments-admin ul#navadminlist li a.adm_four,
body#users-admin ul#navadminlist li a.adm_five,
body#supplies-admin ul#navadminlist li a.adm_seven,
body#fees-admin ul#navadminlist li a.adm_eight,
body#rooms-admin ul#navadminlist li a.adm_nine{
    color:#ed7b7b;
}


/* CSS Style for flash message */
.flash {
    top: 70px;
    left: 0;
    padding: 7px;
    width: 100%;
    display: block;
    position: absolute;
    justify-content: space-between;
    align-items: center; 
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-radius: 3px;
}

.flash-info {
    color: #31708f;
    background-color: #d9edf7;
    border-left: 10px solid #00529B;
    -webkit-box-shadow: inset 0px 0px 0px 2px #00529B;
    -moz-box-shadow: inset 0px 0px 0px 2px #00529B;
    box-shadow: inset 0px 0px 0px 2px #00529B;
}

.flash-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-left: 10px solid #9F6000;
    -webkit-box-shadow: inset 0px 0px 0px 2px #9F6000;
    -moz-box-shadow: inset 0px 0px 0px 2px #9F6000;
    box-shadow: inset 0px 0px 0px 2px #9F6000;
}

.flash-error {
    color: #a94442;
    background-color: #f2dede;
    border-left: 10px solid #D8000C;
    -webkit-box-shadow: inset 0px 0px 0px 2px #D8000C;
    -moz-box-shadow: inset 0px 0px 0px 2px #D8000C;
    box-shadow: inset 0px 0px 0px 2px #D8000C;
}

.flash-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-left: 10px solid #4F8A10;
    -webkit-box-shadow: inset 0px 0px 0px 2px #4F8A10;
    -moz-box-shadow: inset 0px 0px 0px 2px #4F8A10;
    box-shadow: inset 0px 0px 0px 2px #4F8A10;
}


/* CSS Style for Admin Navigation */

#back_admin_nav{
    width: 150px;
    height: 100%;
    position: fixed;
    margin: 0 auto;
    background-color: #565960; /*#3d4963; /*#6cc3d8;*/ 
    z-index:0;
    top:80px;
    left:0;
}

#navadmin{            
    height: 350px;
    width: 150px;
    position: fixed;
    margin: 0 auto;
    top:100px;
    z-index:1001; 
}

#navadmin ul{
    margin: 0;
    padding: 0;
}

#navadmin ul li{
    display: inline-block;
    list-style-type: none;
}

#navadmin ul li a{
    padding: 15px 10px 15px 10px;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    width:130px;
    height: 15px;
    transition: 0.3s ease;                
    display: block;
}

#admin_title{
    text-decoration: none;
    color: #bbd4d4;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom:15px;
}

#navadmin ul li a:hover{
color:#ed7b7b;    
}

/* CSS Style for Footer */
footer{
    margin-top:20px;
    height: 100px;
    width: 100%;                
    margin: 0 auto;
    left:0;
    color: #fff; ;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #11151d;
}

#inner_footer{
    text-align: left;
    width: 960px;
    margin: 0 auto;        
}

footer p{
    padding: 0px;
    margin: 0;
}

#address{
    float: left;
    padding-left: 0px;
    padding-top: 5px;
}

#social_media_icons{
    padding-right: 0px;
    margin: 0;
    padding-top: 5px;
    float: right;
    width: 170px;
    display: inline;
}

#facebook{
    background-image: url(../images/facebook.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    float: left; 
    margin-left: 10px;
}

#instagram{
    background-image: url(../images/instagram.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
}

#twitter{
    background-image: url(../images/twitter.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
}

#youtube{
    background-image: url(../images/youtube.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 10px;
}

#copyright{
    clear: both;
    text-align: center;
    font-size:10px;
}            


/* CSS Style for Coming Soon Pages */
.coming_soon {
    padding: 20%;
    margin:0 auto;
    text-align: center;
}

.coming_soon h1{
     font-size:70px;
}

/* CSS Style for Thank you message */
.thanks {
    margin:0 auto;
    text-align: center;
    padding: 30px;
}

.thanks h1{
     font-size:70px;
}

/* CSS Style for Graphics */
.graph{
    width: 50%;
    float:left; 
    height: 350px;
}

/******************************/
/* CSS Styles for Form Fields */
/******************************/ 
label{
    display: block;
    float: left;
    color: #000d18;
    font-weight: bold;
}

input + label{
    float: none;
    display: inline;
    width: auto;
    font-weight: normal;
}

.required::before { 
    content:"*";
}

.error{
    color: #990000;
    font-weight: normal;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input,
select,
textarea
{
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    padding: 4px 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
input[type="number"]:hover,
input[type="date"]:hover,
input[type="checkbox"]:hover,
input:hover,
select:hover,
textarea:hover
{ 
    background-color: #eddccf;
}

input[type="submit"],
input[type="reset"]{
    width: 120px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    background-color: #254e58;
    color: #fff;
    font-size: 18px;
}

button,
input[type="submit"].size_var{
    width: auto;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 400;
    background-color: #254e58;
    color: #fff;
    font-size: 16px;
}

.actual_page{
    color:#ed7b7b;
}

fieldset{
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 20px;
    color: #000d18;
    font-weight: bold;
}

.small_field{
    width: 30%;
}

.small2_field{
    width: 15%;
}

.xsmall_field{
    width: 5%;
}

.medium_field{
    width: 50%;
}

.large_field{
    width: 97%;
}

.week_day{
    margin-right: 30px;
}


/*****************************/
/* CSS Styles for Class Page */
/*****************************/ 
.img_classes{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

.img_classes_small{
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

.img_classes_default{
    height: 280px;
}

.wrap-collabsible input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;

    color: #fff;
    background: #254e58;/*FAE042;*/

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
    box-sizing: border-box;
}

.lbl-toggle:hover {
    color: #fff;
}


.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
    background: rgba(250, 224, 66, .2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 500px;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/*****************************/
/* CSS Styles for Index Page */
/*****************************/ 

/* CSS Style for Hero Image and Site Description */
div#hero_area{
    padding-top: 0px;
    padding-bottom: 20px;
    height:700px;
    position: relative;
    margin:0 auto;
}        

.hero-image {
    background-image:    url(../images/hero.jpg);
    height: 80%;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-top: 60px;
}

.site_description {
    position: relative; 
    float: right;
    right: 0;
    top: 100px;
    background: rgba(0, 0, 0, 0.2); 
    color: #f1f1f1; 
    width: 200px;
    height: auto;
    color: #fff;
    font-size: 18px;
    text-align: left;
    padding:10px;
    font-family: 'Itim', cursive;
    border-radius: 7px;
}

.site_description_font{
    font-size: 18px;
    font-family: 'Itim', cursive;
    color:#fff;
    font-weight: 400;
}

/* CSS Style for    per Age */
.activities_age{
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    padding-top: 130px;
    text-align: center;
    box-shadow:0 0 70px 0 rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 4px #000, 1px 1px #999;
    font-weight: bold;
    font-size:18px;
    color:#fff;
    border-radius: 7px;
    margin-bottom:20px;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);                 
    transform: perspective(1px) translateZ(0);    
    box-sizing: border-box;
}

#container_age {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1px;
    margin: 0 auto;
    height: auto;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
    padding-top: 300px;
    padding-bottom: 60px;
    border-radius: 7px;
}
    
#container_age #kids{
    background-image: url(../images/kids.jpg);
}
#container_age #youths{
    background-image: url(../images/youth.jpg);
}
#container_age #adults{
    background-image: url(../images/adults.jpg);
}        
#container_age #professional{
    background-image: url(../images/professional.jpg);
}        

.legend_age{
    position: absolute;
    top: 80%;
    text-align: center;
    width:170px;
}

.activities_age:hover, .activities_age:focus, .activities_age:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Push */
@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
}
    100% {
        -webkit-transform: scale(1);
}
}
@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
}
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);                    
        transform: scale(1);
}
}

.hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);                
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}        

/*********************************/
/* CSS Styles for schedules Page */
/*********************************/ 
#div_schedules{
    width: 960px;
    min-height: 582px;
    float: left;
    margin: 0 auto;
    background: #fff;
    margin-top:0px;
} 

.tabs {
    position: relative;
    
}

.tabs > input,
.tabs > a {
    width: 14%;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
}

.tabs > input {
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    z-index: 99;
}

.tabs > a {
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid #ccc;
    text-decoration: none;
}

.tabs > a i,
.tabs > a {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.tabs > input:hover + a {
    background: rgba(204,204,204,.1);
    border-bottom: 2px solid #000;
}

.tabs > input:checked + a {
    background: #fff;
}

.tabs > input:checked + a,
.tabs > input:hover + a {
    color:#ed7b7b;
}

#tab-1, #tab-1 + a {
    left: 0;
}

#tab-2, #tab-2 + a {
    left: 14%;
}

#tab-3, #tab-3 + a {
    left: 28%;
}

#tab-4, #tab-4 + a {
    left: 42%;
}

#tab-5, #tab-5 + a {
    left: 56%;
}

#tab-6, #tab-6 + a {
    left: 70%;
}

#tab-7, #tab-7 + a {
    left: 84%;
}

.tab-content {
    padding: 80px 0px 0px;
    width: 100%;
    min-height: 340px;
}

.tab-content div {
    width: 100%;
    display: none;
}

.tab-content div h1 {
    margin-top: 15px;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
}

#tab-1:checked ~ .tab-content #tab-item-1    {
    display: block;
}

#tab-2:checked ~ .tab-content #tab-item-2    {
    display: block;
}

#tab-3:checked ~ .tab-content #tab-item-3    {
    display: block;
}

#tab-4:checked ~ .tab-content #tab-item-4    {
    display: block;
}

#tab-5:checked ~ .tab-content #tab-item-5    {
    display: block;
}

#tab-6:checked ~ .tab-content #tab-item-6    {
    display: block;
}

#tab-7:checked ~ .tab-content #tab-item-7    {
    display: block;
}
    
/*******************************/
/* CSS Styles for Classes Page */
/*******************************/ 

 #classes_container {
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
}

.table_classes{
 box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
 margin-bottom: 60px;
 padding: 20px;
 border-spacing: 10px;
}

.classes{
    background-position: center center;
    background-repeat: no-repeat;
    align-content: center;
    width: 240px;
    height: 240px;
    
}
#ballet{
    background-image: url(../images/ballet-youth.jpg);

}
#jazz{
    background-image: url(../images/jazz.jpg);
}
#tap{
    background-image: url(../images/tap-dance.jpg);
}

#street{
    background-image: url(../images/street-dance.jpg);
}

#belly{
    background-image: url(../images/belly-dance3.jpg);
}

#zumba{
    background-image: url(../images/zumba.jpg);
}

#salsa{
    background-image: url(../images/salsa.jpg);
}

/***********************************/
/* CSS Styles for Instructors Page */
/***********************************/ 
.column {
    float: left;
    width: 33.3%;
    margin-top: 30px;
    margin-bottom: 16px;
    padding: 0 10px;
    box-sizing: border-box; 
}

.row {
    box-sizing: border-box;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.photo_instructor {
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.card img {
        border-radius: 50%;
        width:90%;
        margin:0 auto;
}

/**********************************/
/* CSS Style for Tables                     */
/**********************************/
table{
    border: 1px solid #000;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 960px;
    padding: 0px;
    margin: 0 auto;
}

table.no_border{
    border: none;
}

/* CSS Style for Cells - td and th */
td, th{
    border: 2px solid #666;
    padding: 5px;
}

.no_border td, .no_border th{
    border: none;
}

/* CSS Style for Table Header - th */
th{
    background-color: #254e58;
    color: #fff;
}

#open_hours{
    width: 400px;
    margin-left:0;
}

.align_right{
    text-align: right;
}

.align_center{
    text-align: center;
}

/******************************************************/
/* CSS Media Query for SmartPhones less than 714px    */
/******************************************************/    
@media screen and (max-width: 714px) {

    body, .hero-image {
        min-width:100%;
        width: 100%;
    }

    div#wrapper, header,    nav{
        width: 100%;
    }    
    
    #inner_footer{
        width: 100%;
    }

    div#wrapper{
        position: absolute;
    }
    
    div#wrapper, header{
        margin-left: 0;
    }
    
    footer{
        position: absolute;
        bottom: -700px;
        width: 100%;
    }
    
    body#about footer{
        bottom: -1250px;
    }
    
    body#classes footer{
        bottom: -3270px;
    }
    
    body#contact footer{
        bottom: -550px;
    }
    
    body#login footer,
    body#logout footer,
    body#profile footer,
    body#fees footer,
    body#enroll footer, 
    body#register footer,
    body.admin footer{
        bottom: 0px;
    }
    
    body#schedules footer,
    body#payments footer{
        bottom: -300px;
    }
    
    body#instructors footer{
        bottom: -5100px;
    }
    
    body#marks footer{
        bottom: -400px;
    }
        
    #address{
        padding-left: 7px;
    }
 
    #social_media_icons{
        padding-right: 7px;
    }
                    
    header #logo{
        padding-left: 7px;
    }
    
    nav{            
        height: 60px;
        position: fixed;
        margin: 0 auto;
        z-index:1001; 
    }

    nav ul{
        margin: 0;
        padding: 0;
    }

    nav ul li{
        display: inline-block;
        list-style-type: none;
    }

    nav ul li a{
        padding: 15px 10px 15px 10px;
        text-decoration: none;
        color: #fff;
        background-color: #254e58;
        font-size: 17px;
        font-weight: bold;
        width:180px;
        height: 15px;
        transition: 0.3s ease;                
        display: block;
    }

    nav ul li a:hover{
        color:#ed7b7b;    
    }

    nav:hover ul#navlist{
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);                        
        transform: rotateX(0deg);
        opacity: 1;
    }

    nav ul:hover{
        display: block;
    }

    nav ul#navlist{
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        transform: rotateX(90deg);
        opacity: 0;
        position:absolute;
        top: 59px;
        float: right;
        right: 85px;
        padding-right: 20px;
        text-align: left;
        width: 130px;
        z-index: 10200;
        border: 1px solid #000;
        box-shadow: 0px 2px 6px rgba(0,0,0,0.55);
    }
        
    a#menubutton{
        display: block;
    } 
    
    #container_age {
        width:100%;
        padding-top: 500px;
    } 
        
    table{
        width:100%;
    }
        
    #message{
        width: 93%;
    }
        
    #div_schedules{
        width: 100%;
    }
        
    .site_description {
        top:350px;
        width: 90%;
        background: rgba(0, 0, 0, 0.5);
    }
        
    .tabs > a {
        font-size:14px;
    }
}

/***************************************************************/
/* CSS Media Query for Mobile Devices between 715px than 768px */
/***************************************************************/    
@media screen and (min-width: 715px) and (max-width: 767px) {

    body, .hero-image {
        min-width:100%;
        width: 100%;
    }

    div#wrapper, header,    nav{
        width: 100%;
    }    
    
    #inner_footer{
        width: 100%;
    }

    div#wrapper{
        position: absolute;
    }
    
    div#wrapper, header{
        margin-left: 0;
    }
    
    footer{
        position: absolute;
        bottom: -700px;
        width: 100%;
    }
    
    body#about footer{
        bottom: -1250px;
    }
    
    body#classes footer{
        bottom: -1370px;
    }
    
    body#contact footer{
        bottom: -550px;
    }
    
    body#login footer,
    body#logout footer,
    body#profile footer,
    body#fees footer,
    body#enroll footer,
    body#register footer,
    body.admin footer{
        bottom: 0px;
    }
    
    body#schedules footer,
    body#payments footer{
        bottom: -500px;
    }
    
    body#instructors footer{
        bottom: -5100px;
    }
    
    body#marks footer{
        bottom: -400px;
    }
        
    #address{
        padding-left: 7px;
    }
 
    #social_media_icons{
        padding-right: 7px;
    }
                    
    header #logo{
        padding-left: 7px;
    }
    
    nav{            
        height: 60px;
        position: fixed;
        margin: 0 auto;
        z-index:1001; 
    }

    nav ul{
        margin: 0;
        padding: 0;
    }

    nav ul li{
        display: inline-block;
        list-style-type: none;
    }

    nav ul li a{
        padding: 15px 10px 15px 10px;
        text-decoration: none;
        color: #fff;
        background-color: #254e58;
        font-size: 17px;
        font-weight: bold;
        width:180px;
        height: 15px;
        transition: 0.3s ease;                
        display: block;
    }

    nav ul li a:hover{
        color:#ed7b7b;    
    }

    nav:hover ul#navlist{
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);                        
        transform: rotateX(0deg);
        opacity: 1;
    }

    nav ul:hover{
        display: block;
    }

    nav ul#navlist{
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        transform: rotateX(90deg);
        opacity: 0;
        position:absolute;
        top: 59px;
        float: right;
        right: 85px;
        padding-right: 20px;
        text-align: left;
        width: 130px;
        z-index: 10200;
        border: 1px solid #000;
        box-shadow: 0px 2px 6px rgba(0,0,0,0.55);
    }
        
    a#menubutton{
        display: block;
    } 
    
    #container_age {
        width:100%;
        padding-top: 500px;
    } 
        
    table{
        width:100%;
    }
        
    #message{
        width: 93%;
    }
        
    #div_schedules{
        width: 100%;
    }
        
    .site_description {
        top:350px;
        width: 90%;
        background: rgba(0, 0, 0, 0.5);
    }
}


/****************************************************************/
/* CSS Media Query for IPad and Tablets between 768px and 1023px*/
/****************************************************************/    
@media screen and (min-width: 768px) and (max-width: 1023px){

    body, .hero-image {
        min-width:100%;
        width: 100%;
    }

    div#wrapper, header,    nav{
        width: 100%;
    }    
    
    #inner_footer{
        width: 100%;
    }

    div#wrapper{
        position: absolute;
    }
    
    div#wrapper, header{
        margin-left: 0;
    }
    
    footer{
        position: absolute;
        bottom: -350px;
        width: 100%;
    }
    
    body#about footer{
        bottom: -1250px;
    }
    
    body#classes footer{
        bottom: -1370px;
    }
    
    body#contact footer{
        bottom: -550px;
    }
    
    body#login footer,
    body#logout footer,
    body#profile footer,                
    body#fees footer,
    body#enroll footer,
    body#register footer,
    body.admin footer{
        bottom: 0px;
    }
    
    body#schedules footer{
        bottom: -20px;
    }
    
    body#instructors footer{
        bottom: -1500px;
    }
    
    body#marks footer{
        bottom: -400px;
    }
            
    #address{
        padding-left: 7px;
    }
 
    #social_media_icons{
        padding-right: 7px;
    }
                    
    header #logo{
        padding-left: 7px;
    }
    
    nav{            
        height: 60px;
        position: fixed;
        margin: 0 auto;
        z-index:1001; 
    }

    nav ul{
        margin: 0;
        padding: 0;
    }

    nav ul li{
        display: inline-block;
        list-style-type: none;
    }

    nav ul li a{
        padding: 15px 10px 15px 10px;
        text-decoration: none;
        color: #fff;
        background-color: #254e58;
        font-size: 17px;
        font-weight: bold;
        width:180px;
        height: 15px;
        transition: 0.3s ease;                
        display: block;
    }

    nav ul li a:hover{
        color:#ed7b7b;    
    }

    nav:hover ul#navlist{
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);                        
        transform: rotateX(0deg);
        opacity: 1;
    }

    nav ul:hover{
        display: block;
    }

    nav ul#navlist{
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        transform: rotateX(90deg);
        opacity: 0;
        position:absolute;
        top: 59px;
        float: right;
        right: 85px;
        padding-right: 20px;
        text-align: left;
        width: 130px;
        z-index: 10200;
        border: 1px solid #000;
        box-shadow: 0px 2px 6px rgba(0,0,0,0.55);
    }
        
    a#menubutton{
        display: block;
    } 
    
    #container_age {
        width:100%;
        padding-top: 370px;
    } 
        
    table{
        width:100%;
    }
        
    #div_schedules{
        width: 100%;
    }
}

/************************************************************/
/* CSS Media Query for IPad LandScape, Laptops and Desktops */
/************************************************************/ 
@media screen and (min-width: 1024px){
    div#wrapper, header{
        width: 960px;
        margin-left: calc((100% - 960px)/2);
        margin-right: calc((100% - 960px)/2);
    }
    
    div#wrapper{
        height: 100%;
        min-height:400px;
        position: absolute;
    } 
    
    footer{
        position: absolute;
        width: 100%;
    }
    
    body#schedules,
    body#payments,
    body#login,
    body#logout,
    body#profile,
    body#fees,
    body#enroll,
    body.admin, 
    body#register {
        height: calc(100% - 160px);
    }
    
    body#about footer{
        bottom: -1050px;
    }
    
    body#classes footer{
        bottom: -1350px;
    }
    
    body#contact footer{
        bottom: -500px;
    }
    
    body#schedules footer,
    body#payments footer{
        bottom: -700px;
    }

    body#login footer,
    body#logout footer,
    body#profile footer,  
    body#enroll footer,               
    body#fees footer{
        bottom: -100px;
    }

    body#register footer{
        bottom: -1200px;
    }
    
    body#instructors footer{
        bottom: -1250px;
    }
    
    body#marks footer,
    body.admin footer{
        bottom: -400px;
    }
    
    #inner_footer{
        width: 960px;
    }
    
    a#menubutton{
        display: none;
    } 
    
    nav{            
        height: 60px;
        position: fixed;
        text-align: right;
        width: 960px;                
        top:25px;
        margin: 0 auto;
        z-index:1001; 
    }

    nav ul{
        margin: 0;
        padding: 0;
    }

    nav ul li{
        display: inline-block;
        list-style-type: none;
    }

    nav ul li a{
        padding: 20px 10px 16px 10px;
        display: block;
        text-decoration: none;
        color: #fff; 
        font-size: 17px;
        font-weight: bold;
        transition: 0.3s ease;                
    }

    nav ul li a:hover{
        color:#ed7b7b;                
        border-top: 2px solid #ed7b7b;
        border-bottom: 2px solid #ed7b7b;
        padding: 6px 10px 6px 10px; 
    }

    .menu_list {
            animation: none;
    }

    #container_age {
        margin: 0 auto;
        width:960px;
        padding-right: 0;
        padding-left: 0;
        padding-top: 370px;
    }
        
    #div_schedules{
         width: 960px;
    }
    
}

